Repository naklar-io/naklar.io, pull requests merged in 2020-04, with the labels that each got.

#35 add manualRefresh for mobile browser compatibility on sliders
  frontend/naklario/src/app/account/tutor/tutor-register/tutor-register.component.html
  frontend/naklario/src/app/account/tutor/tutor-register/tutor-register.component.ts
Labels: bug

#34 python !== JS
  frontend/naklario/src/app/_models/database.ts
Labels: bug

#39 Add a password-reset-feature
  backend/naklar-io/account/migrations/0008_passwordresettoken.py
  backend/naklar-io/account/migrations/0009_auto_20200413_1655.py
  backend/naklar-io/account/models.py
  backend/naklar-io/account/serializers.py
  backend/naklar-io/account/templates/password_reset.html
  backend/naklar-io/account/templates/password_reset.txt
  backend/naklar-io/account/urls.py
  backend/naklar-io/account/views.py
  frontend/naklario/src/app/_services/authentication.service.ts
  frontend/naklario/src/app/account/account-routing.module.ts
  frontend/naklario/src/app/account/account.module.ts
  frontend/naklario/src/app/account/login/login.component.html
  frontend/naklario/src/app/account/password-reset/password-reset.component.html
  frontend/naklario/src/app/account/password-reset/password-reset.component.scss
  frontend/naklario/src/app/account/password-reset/password-reset.component.spec.ts
  frontend/naklario/src/app/account/password-reset/password-reset.component.ts
  frontend/naklario/src/app/account/password-reset/reset-request/reset-request.component.html
  frontend/naklario/src/app/account/password-reset/reset-request/reset-request.component.scss
  frontend/naklario/src/app/account/password-reset/reset-request/reset-request.component.spec.ts
  frontend/naklario/src/app/account/password-reset/reset-request/reset-request.component.ts
Labels: backend, enhancement, frontend

#42 Add loading bar
  frontend/naklario/package-lock.json
  frontend/naklario/package.json
  frontend/naklario/src/app/app.component.html
  frontend/naklario/src/app/app.module.ts
Labels: enhancement, frontend

#60 Frontend bugfix feedback rating
  frontend/naklario/src/app/_helpers/form-validators.directive.ts
  frontend/naklario/src/app/roulette/feedback/feedback.component.html
  frontend/naklario/src/app/roulette/feedback/feedback.component.ts
Labels: bug, frontend
